/node_modules
/vendor
.env
.env.*


/public/hot
/public/storage

/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

npm-debug.log
yarn-error.log
.phpunit.result.cache
